.auto-complte-search-input {
	border-radius: 0px!important;
}

ul {
	position: relative;
    top: 0px;
    border-top: 0px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    z-index: 2;
}



